<!DOCTYPE html>

<html>

<title>Home</title>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this website to get weather details!</p>
        <form action="submit">
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p id="error-p"></p>
        <p id="success-p"></p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>


</html>